@font-face {
  font-family: "FX_LED";
  src: url("fonts/FX-LED.TTF");
}

@font-face {
  font-family: "Hack";
  src: url("fonts/Hack-Bold.ttf");
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1e1e2f;
  color: white;
}

.digital-clock {
  background-color: #000;
  color: #fff;
  display: flex;
  border-radius: 2rem;
  user-select: none;
  padding: 1rem 2rem;
  border: 0.5rem solid #3a3a3a;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.week {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 4rem;
  color: #4d4d4d;
  font-weight: bold;
  font-family: Hack, sans-serif;
}

.week .active {
  color: #fff;
  background-color: #ff5722;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.time {
  font-family: "FX_LED", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hour,
.min,
.dot,
.sec {
  display: inline-block;
  font-size: 13rem;
}

.dot {
  color: #ff5722;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}

.invisible {
  visibility: hidden;
}

@media (max-width: 768px) {
  .digital-clock {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .hour,
  .min,
  .dot,
  .sec {
    font-size: 7rem;
  }

  .week {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .week div {
    margin: 0 0.5rem;
  }
}
